@import "./../../../styles/_option.sass"
.footer
	flex: 0 0 auto
	color: $background
	background-color: $black

	padding: 40px 100px
	height: 159px

	display: flex
	justify-content: space-between

	.footer__title
		h1
			font: 700 30px $font
			line-height: 48px
		h3
			font: 400 16px $font
			color: $gray